<nav class="navbar navbar-expand-lg primary-color-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/img/logo-2.png" class= alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link secondary-color-light" aria-current="page" href="/">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/houses">Houses</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/townhomes">Town Homes</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/apartments">Apartments</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/condos">Condos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link secondary-color-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Additional Pages
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/aboutme">About Me</a></li>
            {{!-- <li><a class="dropdown-item" href="/thankyou">Thank You Page</a></li> --}}
            {{!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/womens">Womens Clothing</a></li>
            <li><a class="dropdown-item" href="/breckenridge">Breckenridge</a></li> --}}
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>