<h1>Welcome to Miami</h1>
<img src ="/img/miami-1.jpg" class="img-fluid" alt ="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio similique earum nesciunt in veniam mollitia. Modi error eum excepturi temporibus, voluptatum nihil cum ipsa dolor ipsam delectus, quisquam tempora consequatur!</p>